body {
    padding-top: 150px;
    background-color: #eee;
}

.login-div {	
    max-width: 330px;    
    margin: 0 auto;
}

.form-group {
    display: flex;
    height: 55px;
}
.form-group .form-group-heading,
.form-group .checkbox {
    margin-bottom: 10px;
}
.form-group .checkbox {
    font-weight: normal;
}
.form-group .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-group.focused .control-label {
    opacity: 1;
    transform: scale(0.75);
}

.control-label {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
}

.form-control {
    align-self: flex-end;
}

.form-control::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;
}

.form-control:focus::-webkit-input-placeholder {
    transition: none;
}

.form-group.focused .form-control::-webkit-input-placeholder {
    color: #bbb;
}